.wrapper.sign_in{
  padding-top: 70px;
  margin: -25px;
  height: 95vh;
}


.inner-wrapper.sign_in {
  padding: 25px;
  margin: 25px;

}


.container-fluid.sign_in {
  margin: 30px;
  padding: 20px;

  border-radius: 10px;
}


.btn-beetle.sign_in {
  line-height: 20px;
  width: 80px;
}

.sign_in .control-label{
  padding-bottom: 5px;

}

.sign_in .checkbox  {
  padding-top: 0;
}


.sign_in .checkbox input[type="checkbox"] {
  margin-top: -5px;
}

.inner-wrapper .sign_in a {
  text-align: center;
  padding-top: 20px;

}

