<div class="wrapper-footer">
  <div class="row-footer text-center">
    <i class="fa fa-twitter"></i>
    <i class="fa fa-facebook"></i>
    <i class="fa fa-instagram"></i>
    <i class="fa fa-youtube"></i>
  </div>
</div>
