<div class="wrapper-footer">
  <div class="row-footer text-center">
    <a href="https://twitter.com" target="_blank">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="https://fr-fr.facebook.com" target="_blank">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="https://www.instagram.com" target="_blank">
      <i class="fa fa-instagram"></i>
    </a>
    <a href="https://www.youtube.com" target="_blank">
      <i class="fa fa-youtube"></i>
    </a>
  </div>
</div>
