

<h2 class="text-center"> Deadbnb </h2>
<h1 class="text-center"> You just can't wait to die !</h1>
<%= link_to 'your profile is here', profiles_path %>

<div class="row">
  <% @graveyards.each do |graveyard| %>

    <div class="col-xs-12 col-md-4">

      <div class="card">
        <img class="card-img-top" src="<%= graveyard.picture_graveyard%>" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title"><%=graveyard.city%></h4>
          <p class="card-text"><%= "#{graveyard.nb_places} places available" %></p>
          <a href="#" class="btn-beetle">Deadbook!</a>
        </div>
      </div>

    </div>
  <% end  %>

</div>
