
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Mystery+Quest&subset=latin-ext');

body {
  font-family: 'Fredericka the Great', cursive;
  font-weight: 400;
  line-height: 5px;
}

h1, h2, h3 {
  font-family: 'Mystery Quest', cursive;
  letter-spacing: 1px;
}


// container wrapper
.container {
  background: rgba(252, 252, 252, 0.97);
  margin: 0 auto;
  width: 970px;
}

.wrapper {
background: #3d3d3d;
}

// fonts
