
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Mystery+Quest&subset=latin-ext');

body {
  font-family: 'Fredericka the Great', cursive;
  font-weight: 400;
}

h1, h2, h3, h4 {
  font-family: 'Mystery Quest', cursive;
  letter-spacing: 1px;
}

