/* Optional class to fix the navbar on top */
.navbar-wagon-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;

}

/* Main class */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfcfc+0,fcfcfc+72,afafaf+86,7f7f7f+94,474747+100,383838+100,2b2b2b+100,2c2c2c+100,666666+100,131313+100 */
  background: #fcfcfc; /* Old browsers */
  background: -moz-linear-gradient(top,  #fcfcfc 0%, #fcfcfc 72%, #afafaf 86%, #7f7f7f 94%, #474747 100%, #383838 100%, #2b2b2b 100%, #2c2c2c 100%, #666666 100%, #131313 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #fcfcfc 0%,#fcfcfc 72%,#afafaf 86%,#7f7f7f 94%,#474747 100%,#383838 100%,#2b2b2b 100%,#2c2c2c 100%,#666666 100%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #fcfcfc 0%,#fcfcfc 72%,#afafaf 86%,#7f7f7f 94%,#474747 100%,#383838 100%,#2b2b2b 100%,#2c2c2c 100%,#666666 100%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
  transition: all 0.3s ease;
  display: flex;
  height: $navbar-height;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
}

/* button */
.btn-beetle.btn-navbar {
  line-height: 15px;
  font-size: 12px;
  margin-right: 5px;
}

.btn-beetle.btn-navbar:hover {
  line-height: 15px;
  font-size: 12px;
  margin-right: 5px;
  background:#4A5158 ;
}

/* Avatar */
.navbar-avatar > .avatar {
 width: 40px;
}

/* Navbar logo */
.navbar-wagon-brand img {
  width: 50px;
}

/* Navbar right section (with form, links, button) */
.navbar-wagon-right {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar item */
.navbar-wagon-item {
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar standard link */
.navbar-wagon-link {
  color: #fcfcfc;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Navbar right button */
.navbar-wagon-button {
  margin-left: 10px;
  padding: 0 20px;
  border-radius: 20em;
  line-height: 40px;
  background-color: #D23333;
  color: #fcfcfc;
  font-size: 14px;
  border: 2px solid #D23333;
}
.navbar-wagon-button:hover {
  color: #fcfcfc;
  background: #D23333;
  border-color: #ac2626;
}

/* Navbar search form */
.navbar-wagon-search {
  flex: 0 1 300px;
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
  position: relative;
}
.navbar-wagon-search-btn {
  line-height: 30px;
  color: #4A5158;
  border: none;
  background: transparent;
  position: absolute;
  right: 14px;
  top: -2px;
  z-index: 1;
}
.navbar-wagon-search-input {
  flex: 0 1 300px;
  transition: all 0.15s ease;
  line-height: 30px;
  font-weight: lighter;
  color: #666666;
  border: 1px solid #4A5158;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 14px;
  outline: none;
}
.navbar-wagon-search-input:focus  {
  border: 1px solid #4A5158;
}

/* Navbar dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #3d3d3d;
  border-color: #3d3d3d;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: #fcfcfc;
  transform: rotate(45deg);
  border-left: 1px solid #3d3d3d;
  border-top: 1px solid #3d3d3d;
}
