

.btn-beetle {
  font-family: 'Mystery Quest', cursive;
  color: #fcfcfc;
  background: #3d3d3d;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bold;
  transition: background 0.3s ease;
  text-align: center;
  line-height: 65px;
  width:89px
}
.btn-beetle:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}
