.card {
  height: 280px;
  position: relative;
  background-color: #fcfcfc;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  margin: 15px;
  padding: 15px;
}

.card-tomb{
  height: 284px;
  position: relative;
  background-color: #fcfcfc;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  margin: 20px;
  box-shadow: 1px 1px 10px

}

.card-description-tomb {
  position: absolute;
  bottom: 21px;
  left: 21px;
  line-height: 17px;
}

.card-description-tomb-picture {
  position: absolute;
  top: 21px;
  left: 21px;
  font-size: 20px;
  line-height: 20px;
  border: 2px;
  border-color: black;
}

.card-img-top {
  display: flex;
  margin: 0 auto;
  width: 90%;
  max-width: 205px;
  max-height: 122px;
}

.card-block {
padding: 2px;
height: auto;
}
