.card {
  height: 280px;
  position: relative;
  background-color: #fcfcfc;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  margin: 15px;
  padding: 15px;
}

.card-img-top {
  display: flex;
  margin: 0 auto;
  width: 90%;
  max-width: 205px;
  max-height: 122px;
}

.card-description-tomb {
  position: absolute;
}

.card-block {
padding: 2px;
height: auto;
}
